@import "vareables";

$utilities: (
  "min-viewport-height": (
    property: min-height,
    class: min-vh,
    values: (100: 100vh)
  ),
  "height": (
    property: height,
    class: h,
    values: (100: 100%)
  ),
  "width": (
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "displays": (
    property: display,
    class: d,
    values: (
      flex: flex,
      block: block,
      none: none
    )
  ),
  "justify-contents": (
    property: justify-content,
    class: justify-content,
    values: (
      start: start,
      end: end,
      center: center,
      between: space-between,
      around: space-around
    )
  ),
  "align-items": (
    property: align-items,
    class: align-items,
    values: (center: center)
  ),
  "align-self": (
    property: align-self,
    class: align-self,
    values: (
      center: center,
      start: start,
      end: end,
      baseline: baseline
    )
  ),
  "padding": (
    property: padding,
    class: p,
    values: $spacers
  ),
  "padding-bottom": (
    property: padding-bottom,
    class: pb,
    values: $spacers
  ),
  "padding-top": (
    property: padding-top,
    class: pt,
    values: $spacers
  ),
  "margin": (
    property: margin,
    class: m,
    values: $spacers
  ),
  "margin-top": (
    property: margin-top,
    class: mt,
    values: $spacers
  ),
  "margin-bottom": (
    property: margin-bottom,
    class: mb,
    values: $spacers
  ),
  "margin-left": (
    property: margin-left,
    class: ml,
    values: $spacers
  ),
  "margin-right": (
    property: margin-right,
    class: mr,
    values: $spacers
  ),
  "text-align": (
    property: text-align,
    class: text,
    values: (
      center: center,
      left: left,
      right: right,
    )
  ),
  "text": (
    property: color,
    class: text,
    values: $theme-colors
  ),
  "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder
    )
  ),
  "flex-fill": (
    property: flex,
    class: flex,
    values: (fill: 1)
  ),
  "flex-direction": (
    property: flex-direction,
    class: flex-direction,
    values: (column: column)
  ),
  "flex-wrap": (
    property: flex-wrap,
    class: flex,
    values: (
      wrap: wrap,
      nowrap: nowrap
    )
  ),
  "position": (
    property: position,
    class: position,
    values: (
      absolute: absolute,
      relative: relative
    )
  ),
);
